In [2]:
import pandas as pd
from imdb import IMDb
import seaborn as sns
import numpy as np

In [3]:
rating = pd.read_csv("C:/Movie Lens/ml-20m/ratings.csv")

In [4]:
rating.shape

(20000263, 4)

In [5]:
rating.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [6]:
rating.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [7]:
movies = pd.read_csv("C:/Movie Lens/ml-20m/genome-scores.csv")

In [8]:
movies.shape

(11709768, 3)

In [9]:
movies.columns

Index(['movieId', 'tagId', 'relevance'], dtype='object')

In [10]:
ia  = IMDb()

In [11]:
the_matrix = ia.get_movie('0133093')

In [12]:
for director in the_matrix['directors']:
    print(director['name'])

Lana Wachowski
Lilly Wachowski

In [13]:
print(sorted(the_matrix.keys()))

['akas', 'animation department', 'art department', 'art directors', 'aspect ratio', 'assistant directors', 'box office', 'camera department', 'canonical title', 'cast', 'casting department', 'casting directors', 'certificates', 'cinematographers', 'color info', 'composers', 'costume departmen', 'costume designers', 'countries', 'country codes', 'cover url', 'director', 'directors', 'distributors', 'editorial department', 'editors', 'full-size cover url', 'genres', 'kind', 'language codes', 'languages', 'location management', 'long imdb canonical title', 'long imdb title', 'make up department', 'miscellaneous', 'music department', 'original air date', 'other companies', 'plot', 'plot outline', 'producers', 'production companies', 'production designers', 'production managers', 'rating', 'runtimes', 'script department', 'set decorators', 'smart canonical title', 'smart long imdb canonical title', 'sound department', 'sound mix', 'special effects', 'special effects companies', 'stunts', 'synopsis', 'title', 'top 250 rank', 'transportation department', 'visual effects', 'votes', 'writer', 'writers', 'year']

In [14]:
print(ia.get_movie_infoset())

['airing', 'akas', 'alternate versions', 'awards', 'connections', 'crazy credits', 'critic reviews', 'episodes', 'external reviews', 'external sites', 'faqs', 'full credits', 'goofs', 'keywords', 'locations', 'main', 'misc sites', 'news', 'official sites', 'parents guide', 'photo sites', 'plot', 'quotes', 'release dates', 'release info', 'reviews', 'sound clips', 'soundtrack', 'synopsis', 'taglines', 'technical', 'trivia', 'tv schedule', 'video clips', 'vote details']

In [15]:
ia.update(the_matrix, ['technical'])

In [16]:
print(the_matrix.infoset2keys['technical'])

['tech']

In [17]:
print(the_matrix.get('tech'))

{'sound mix': ['DTS (Digital DTS Sound)', 'Dolby Digital', 'SDDS', 'Dolby Atmos'], 'printed film format': ['35 mm (anamorphic) (Kodak Vision 2383)'], 'color': ['Color'], 'negative format': ['35 mm (also horizontal) (Kodak Vision 200T 5274, Vision 500T 5279, Vision 800T 5289)'], 'camera': ['Panavision Panaflex Platinum, Panavision Primo Lenses', 'Panavision Panastar, Panavision Primo Lenses', 'Photosonics Camera'], 'aspect ratio': ['2.39 : 1'], 'runtime': ['2 hr 16 min (136 min)'], 'laboratory': ['Technicolor, Hollywood (CA), USA (prints)', 'Atlab Film Laboratory Service, Sydney, Australia (color)'], 'film length': ['3,735 m (Sweden)'], 'cinematographic process': ['Super 35', 'VistaVision (effects shots)']}

In [18]:
rating.isna().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [19]:
values = rating['rating'] == 2.0

In [20]:
len(rating[values])

1430997

In [21]:
rating.head(10)

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580
5       1      112     3.5  1094785740
6       1      151     4.0  1094785734
7       1      223     4.0  1112485573
8       1      253     4.0  1112484940
9       1      260     4.0  1112484826

In [22]:
number_users = rating.userId.unique().shape[0]

In [23]:
number_users

138493

In [24]:
number_movie = rating.movieId.unique().shape[0]

In [25]:
number_movie

26744

In [26]:
movies.head(10)

   movieId  tagId  relevance
0        1      1    0.02500
1        1      2    0.02500
2        1      3    0.05775
3        1      4    0.09675
4        1      5    0.14675
5        1      6    0.21700
6        1      7    0.06700
7        1      8    0.26275
8        1      9    0.26200
9        1     10    0.03200

In [27]:
tags = pd.read_csv("C:/Movie Lens/ml-20m/tags.csv")

In [28]:
tags.head()

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078

In [29]:
timestamps = tags.timestamp

In [30]:
(timestamps/(3600*24*365)).head()

0    39.339079
1    43.383754
2    43.383754
3    43.383751
4    43.383754
Name: timestamp, dtype: float64

In [31]:
Year = 1970 + round(timestamps/(3600*24*365))

In [32]:
Year.head()

0    2009.0
1    2013.0
2    2013.0
3    2013.0
4    2013.0
Name: timestamp, dtype: float64

In [33]:
Release_Year = Year.astype('int')

In [34]:
tags = pd.concat([tags,Release_Year],axis=1)

In [35]:
tags.head(50)

    userId  movieId                                 tag   timestamp  timestamp
0       18     4141                         Mark Waters  1240597180       2009
1       65      208                           dark hero  1368150078       2013
2       65      353                           dark hero  1368150079       2013
3       65      521                       noir thriller  1368149983       2013
4       65      592                           dark hero  1368150078       2013
5       65      668                           bollywood  1368149876       2013
6       65      898                    screwball comedy  1368150160       2013
7       65     1248                       noir thriller  1368149983       2013
8       65     1391                                mars  1368150055       2013
9       65     1617                            neo-noir  1368150217       2013
10      65     1694                               jesus  1368149925       2013
11      65     1783                       noir thriller  1368149983       2013
12      65     2022                               jesus  1368149925       2013
13      65     2193                              dragon  1368151314       2013
14      65     2353                   conspiracy theory  1368151266       2013
15      65     2662                                mars  1368150055       2013
16      65     2726                       noir thriller  1368149983       2013
17      65     2840                               jesus  1368149925       2013
18      65     3052                               jesus  1368149926       2013
19      65     5135                           bollywood  1368149876       2013
20      65     6539                            treasure  1368149949       2013
21      65     6874                           dark hero  1368150079       2013
22      65     7013                       noir thriller  1368149983       2013
23      65     7318                               jesus  1368149925       2013
24      65     8529                            stranded  1368150012       2013
25      65     8622                   conspiracy theory  1368151266       2013
26      65    27803  Oscar (Best Foreign Language Film)  1305008715       2011
27      65    27866                         New Zealand  1304957153       2011
28      65    48082                             surreal  1304958354       2011
29      65    48082                             unusual  1304958359       2011
30      65    51884                           bollywood  1368149876       2013
31      65    58652                                cute  1304957612       2011
32      65    58652                           emotional  1304957608       2011
33      65    58652                 girls who play boys  1304957403       2011
34      65    58652                        Stephen Chow  1304957388       2011
35      96   106696                           animation  1396097490       2014
36      96   106696                           beautiful  1396097497       2014
37      96   106696                          characters  1396097500       2014
38      96   106696                              Disney  1396097492       2014
39      96   106696                            feminist  1396097502       2014
40      96   106696                                 Ice  1396097505       2014
41      96   106696                               music  1396097508       2014
42      96   106696                             musical  1396097509       2014
43      96   106696                              pacing  1396097517       2014
44      96   106696                             royalty  1396097530       2014
45      96   106696                            siblings  1396097533       2014
46      96   106696                           storyline  1396097537       2014
47      96   106696                              themes  1396097545       2014
48      96   106696                 unnecessary villain  1396097480       2014
49      96   106696                        voice acting  1396097553       2014

In [36]:
tags.head(10)

   userId  movieId               tag   timestamp  timestamp
0      18     4141       Mark Waters  1240597180       2009
1      65      208         dark hero  1368150078       2013
2      65      353         dark hero  1368150079       2013
3      65      521     noir thriller  1368149983       2013
4      65      592         dark hero  1368150078       2013
5      65      668         bollywood  1368149876       2013
6      65      898  screwball comedy  1368150160       2013
7      65     1248     noir thriller  1368149983       2013
8      65     1391              mars  1368150055       2013
9      65     1617          neo-noir  1368150217       2013

In [37]:
movies1 = ia.search_movie('matrix')
movies1[0:]

[<Movie id:0133093[http] title:_The Matrix (1999)_>,
 <Movie id:0106062[http] title:_"Matrix" (1993)_>,
 <Movie id:5274778[http] title:_"Merci Qui?" Matrix (2009)_>,
 <Movie id:0234215[http] title:_The Matrix Reloaded (2003)_>,
 <Movie id:0242653[http] title:_The Matrix Revolutions (2003)_>,
 <Movie id:0295432[http] title:_The Matrix Revisited (2001) (V)_>,
 <Movie id:0270841[http] title:_Cyber Wars (2004)_>,
 <Movie id:1842414[http] title:_Matrix IV (2010)_>,
 <Movie id:10838180[http] title:_The Matrix 4 (2022)_>,
 <Movie id:9642498[http] title:_The Matrix (2016)_>,
 <Movie id:0328832[http] title:_The Animatrix (2003) (V)_>,
 <Movie id:0364888[http] title:_"Threat Matrix" (2003)_>,
 <Movie id:0277828[http] title:_Enter the Matrix (2003) (VG)_>,
 <Movie id:9851526[http] title:_The Matrix (2004)_>,
 <Movie id:6301452[http] title:_Matriarch (I) (2018)_>,
 <Movie id:0390244[http] title:_The Matrix Online (2005) (VG)_>,
 <Movie id:0211096[http] title:_V-World Matrix (1999) (V)_>,
 <Movie id:0451118[http] title:_The Matrix: Path of Neo (2005) (VG)_>,
 <Movie id:0274085[http] title:_Sex and the Matrix (2000)_>,
 <Movie id:1499960[http] title:_The Living Matrix (2009)_>]

In [38]:
ia.get_movie_infoset()

['airing',
 'akas',
 'alternate versions',
 'awards',
 'connections',
 'crazy credits',
 'critic reviews',
 'episodes',
 'external reviews',
 'external sites',
 'faqs',
 'full credits',
 'goofs',
 'keywords',
 'locations',
 'main',
 'misc sites',
 'news',
 'official sites',
 'parents guide',
 'photo sites',
 'plot',
 'quotes',
 'release dates',
 'release info',
 'reviews',
 'sound clips',
 'soundtrack',
 'synopsis',
 'taglines',
 'technical',
 'trivia',
 'tv schedule',
 'video clips',
 'vote details']

In [39]:
#moves = tags['movieId']
moves = tags['movieId'][0:50]
movie_names = []
genres_movie = []
for item in moves:
    movie = ia.get_movie(item)
    movie_name = movie.get('title')
    genres = movie.get('genres')
    genres_movie.append(genres)
    movie_names.append(movie_name)
print(movie_names)    
movie_names_series = pd.Series(movie_names)
tags['Movie_Name'] =  movie_names_series
genres_series = pd.Series(genres_movie)
tags['Genre'] = genres_series

['Im Schützengraben', 'The Miller and Chimney Sweep', 'Execution of Czolgosz with Panorama of Auburn Prison', 'The Little Train Robbery', 'Eureka Stockade', 'The Count of Monte Cristo', 'His Lost Love', 'His Last Burglary', 'The Seal of the Church', "The Fisherman's Daughter", 'In Old California When the Gringos Came', 'The Millionaire and the Squatter', 'Anfisa', 'For the Honor of the Name', 'A Matter of Business', 'Barnet', "By Man's Law", 'False to Their Trust', 'The Last Blockhouse', 'Cora', 'The Committee on Credentials', 'The Isle of Life', "Mammy's Rose", 'The Secret of the Swamp', 'Sacrifice', 'The Spreading Dawn', 'Irma la mala', 'Forbidden Music', 'Flickan i regnet', 'Flickan i regnet', 'Luna de verano', 'Three Outlaw Samurai', 'Three Outlaw Samurai', 'Three Outlaw Samurai', 'Three Outlaw Samurai', 'The Young Girls Turn 25', 'The Young Girls Turn 25', 'The Young Girls Turn 25', 'The Young Girls Turn 25', 'The Young Girls Turn 25', 'The Young Girls Turn 25', 'The Young Girls Turn 25', 'The Young Girls Turn 25', 'The Young Girls Turn 25', 'The Young Girls Turn 25', 'The Young Girls Turn 25', 'The Young Girls Turn 25', 'The Young Girls Turn 25', 'The Young Girls Turn 25', 'The Young Girls Turn 25']

In [40]:
movie_names_series

0                                     Im Schützengraben
1                          The Miller and Chimney Sweep
2     Execution of Czolgosz with Panorama of Auburn ...
3                              The Little Train Robbery
4                                       Eureka Stockade
5                             The Count of Monte Cristo
6                                         His Lost Love
7                                     His Last Burglary
8                                The Seal of the Church
9                              The Fisherman's Daughter
10              In Old California When the Gringos Came
11                     The Millionaire and the Squatter
12                                               Anfisa
13                            For the Honor of the Name
14                                 A Matter of Business
15                                               Barnet
16                                         By Man's Law
17                                 False to Their Trust
18                                  The Last Blockhouse
19                                                 Cora
20                         The Committee on Credentials
21                                     The Isle of Life
22                                         Mammy's Rose
23                              The Secret of the Swamp
24                                            Sacrifice
25                                   The Spreading Dawn
26                                         Irma la mala
27                                      Forbidden Music
28                                     Flickan i regnet
29                                     Flickan i regnet
30                                       Luna de verano
31                                 Three Outlaw Samurai
32                                 Three Outlaw Samurai
33                                 Three Outlaw Samurai
34                                 Three Outlaw Samurai
35                              The Young Girls Turn 25
36                              The Young Girls Turn 25
37                              The Young Girls Turn 25
38                              The Young Girls Turn 25
39                              The Young Girls Turn 25
40                              The Young Girls Turn 25
41                              The Young Girls Turn 25
42                              The Young Girls Turn 25
43                              The Young Girls Turn 25
44                              The Young Girls Turn 25
45                              The Young Girls Turn 25
46                              The Young Girls Turn 25
47                              The Young Girls Turn 25
48                              The Young Girls Turn 25
49                              The Young Girls Turn 25
dtype: object

In [46]:
genres_series.head()

0                                       None
1                            [Comedy, Short]
2                    [Short, Drama, History]
3    [Short, Action, Crime, Family, Western]
4                                    [Short]
dtype: object

In [41]:
tags.head(50)

,userId,movieId,tag,timestamp,timestamp,Movie_Name,Genre
0,18,4141,Mark Waters,1240597180,2009,Im Schützengraben,None
1,65,208,dark hero,1368150078,2013,The Miller and Chimney Sweep,"[Comedy, Short]"
2,65,353,dark hero,1368150079,2013,Execution of Czolgosz with Panorama of Auburn ...,"[Short, Drama, History]"
3,65,521,noir thriller,1368149983,2013,The Little Train Robbery,"[Short, Action, Crime, Family, Western]"
4,65,592,dark hero,1368150078,2013,Eureka Stockade,[Short]
5,65,668,bollywood,1368149876,2013,The Count of Monte Cristo,"[Action, Short, Drama]"
6,65,898,screwball comedy,1368150160,2013,His Lost Love,"[Short, Drama]"
7,65,1248,noir thriller,1368149983,2013,His Last Burglary,"[Short, Drama]"
8,65,1391,mars,1368150055,2013,The Seal of the Church,"[Drama, Short, Western]"
9,65,1617,neo-noir,1368150217,2013,The Fisherman's Daughter,"[Short, Drama]"
10,65,1694,jesus,1368149925,2013,In Old California When the Gringos Came,"[Short, Western]"
11,65,1783,noir thriller,1368149983,2013,The Millionaire and the Squatter,"[Short, Western]"
12,65,2022,jesus,1368149925,2013,Anfisa,[Drama]
13,65,2193,dragon,1368151314,2013,For the Honor of the Name,"[Drama, Short]"
14,65,2353,conspiracy theory,1368151266,2013,A Matter of Business,"[Drama, Short]"
15,65,2662,mars,1368150055,2013,Barnet,[Short]
16,65,2726,noir thriller,1368149983,2013,By Man's Law,"[Drama, Short]"
17,65,2840,jesus,1368149925,2013,False to Their Trust,"[Short, Thriller]"
18,65,3052,jesus,1368149926,2013,The Last Blockhouse,"[Short, Adventure]"
19,65,5135,bollywood,1368149876,2013,Cora,[Drama]
20,65,6539,treasure,1368149949,2013,The Committee on Credentials,"[Short, Western]"
21,65,6874,dark hero,1368150079,2013,The Isle of Life,"[Adventure, Romance]"
22,65,7013,noir thriller,1368149983,2013,Mammy's Rose,"[Short, Drama]"
23,65,7318,jesus,1368149925,2013,The Secret of the Swamp,[Drama]
24,65,8529,stranded,1368150012,2013,Sacrifice,"[Drama, War]"
25,65,8622,conspiracy theory,1368151266,2013,The Spreading Dawn,[Drama]
26,65,27803,Oscar (Best Foreign Language Film),1305008715,2011,Irma la mala,"[Action, Drama]"
27,65,27866,New Zealand,1304957153,2011,Forbidden Music,"[Comedy, Musical]"
28,65,48082,surreal,1304958354,2011,Flickan i regnet,[Drama]
29,65,48082,unusual,1304958359,2011,Flickan i regnet,[Drama]
30,65,51884,bollywood,1368149876,2013,Luna de verano,[Comedy]
31,65,58652,cute,1304957612,2011,Three Outlaw Samurai,"[Action, Drama]"
32,65,58652,emotional,1304957608,2011,Three Outlaw Samurai,"[Action, Drama]"
33,65,58652,girls who play boys,1304957403,2011,Three Outlaw Samurai,"[Action, Drama]"
34,65,58652,Stephen Chow,1304957388,2011,Three Outlaw Samurai,"[Action, Drama]"
35,96,106696,animation,1396097490,2014,The Young Girls Turn 25,"[Documentary, Music]"
36,96,106696,beautiful,1396097497,2014,The Young Girls Turn 25,"[Documentary, Music]"
37,96,106696,characters,1396097500,2014,The Young Girls Turn 25,"[Documentary, Music]"
38,96,106696,Disney,1396097492,2014,The Young Girls Turn 25,"[Documentary, Music]"
39,96,106696,feminist,1396097502,2014,The Young Girls Turn 25,"[Documentary, Music]"
40,96,106696,Ice,1396097505,2014,The Young Girls Turn 25,"[Documentary, Music]"
41,96,106696,music,1396097508,2014,The Young Girls Turn 25,"[Documentary, Music]"
42,96,106696,musical,1396097509,2014,The Young Girls Turn 25,"[Documentary, Music]"
43,96,106696,pacing,1396097517,2014,The Young Girls Turn 25,"[Documentary, Music]"
44,96,106696,royalty,1396097530,2014,The Young Girls Turn 25,"[Documentary, Music]"
45,96,106696,siblings,1396097533,2014,The Young Girls Turn 25,"[Documentary, Music]"
46,96,106696,storyline,1396097537,2014,The Young Girls Turn 25,"[Documentary, Music]"
47,96,106696,themes,1396097545,2014,The Young Girls Turn 25,"[Documentary, Music]"
48,96,106696,unnecessary villain,1396097480,2014,The Young Girls Turn 25,"[Documentary, Music]"
49,96,106696,voice acting,1396097553,2014,The Young Girls Turn 25,"[Documentary, Music]"

In [42]:
moves

0       4141
1        208
2        353
3        521
4        592
5        668
6        898
7       1248
8       1391
9       1617
10      1694
11      1783
12      2022
13      2193
14      2353
15      2662
16      2726
17      2840
18      3052
19      5135
20      6539
21      6874
22      7013
23      7318
24      8529
25      8622
26     27803
27     27866
28     48082
29     48082
30     51884
31     58652
32     58652
33     58652
34     58652
35    106696
36    106696
37    106696
38    106696
39    106696
40    106696
41    106696
42    106696
43    106696
44    106696
45    106696
46    106696
47    106696
48    106696
49    106696
Name: movieId, dtype: int64

In [43]:
rating_1000 = rating[0:1000]

In [44]:
rating.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [45]:
movies.head()

   movieId  tagId  relevance
0        1      1    0.02500
1        1      2    0.02500
2        1      3    0.05775
3        1      4    0.09675
4        1      5    0.14675